<?php

define('SITE_TITLE','PostfixMailAdmin');


//*************** CONNEXION ********************
define('DB_DRIVER','mysqli');		//mysql pysqli psgsql mariadb  etc... see http://adodb.org/dokuwiki/doku.php for supported databases
define('DB_NAME', 'postfix');		// Postfix database name
define('DB_USER', 'postfixadmin');	// user
define('DB_PASS', '*******');		
define('DB_HOST', 'localhost');
define('DB_PORT', ''); 			//empty if default port

//**************  Queries ************************
/*
* "\L" will be replaced by the user's login
* "\P" will be replaced by the user's password
* "\D domain/
*/



//SELECT admins
define('QUERY_SELECT_ADMINS','SELECT username, created,modified,active,superadmin FROM admin;');

//SELECT DOMAIN admins
define('QUERY_SELECT_DOMAIN_ADMINS',
  'SELECT admin.username, admin.created,admin.modified,admin.active,admin.superadmin 
    FROM admin, domain_admins
    WHERE admin.username=domain_admins.username
    AND domain=\'\\D\';');
    
//Authentificate admin
define('QUERY_AUTHENTIFICATE_ADMIN', 'SELECT username FROM admin WHERE password=MD5(\\P) AND username=\\L AND ACTIVE=\'1\'');
